{% extends "threadbare.html" %}

<body>
	<h1 class="text-center">{{ greeting }}</h1>
	<h3 class="text-center">{{ letter }}</h3>

  <div class="span10">

	{% block div %}
		<a href="template2.xml"><video width="320" height="240" controls>
		<source src="movie.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	   </video></a>
	   <a href="template2.xml"><video width="320" height="240" controls>
		<source src="movie.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	   </video></a>
	   <a href="template2.xml"><video width="320" height="240" controls>
		<source src="movie.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	   </video></a>
	   <a href="template2.xml"><video width="320" height="240" controls>
		<source src="movie.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	   </video></a>
	   <a href="template2.xml"><video width="320" height="240" controls>
		<source src="movie.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	   </video></a>
	   <a href="template2.xml"><video width="320" height="240" controls>
		<source src="movie.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	   </video></a>
	</div>
	{% endblock %}
</body>

