{% extends "threadbare.html" %}
<html lang="en" class="no-js">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Joelle F.">
<meta name="description" content="Still a prototype">
<link href="../bootstrap/css/bootstrap.css" rel="stylesheet" media="screen" />
<!--link rel="stylesheet/less" type="text/css" href="../twitter-bootstrap-d991ef2/less/bootstrap.less" /-->
<!--link rel="stylesheet/less" type="text/css" href="../twitter-bootstrap-d991ef2/less/scaffolding.less" /-->
<!--script src="../twitter-bootstrap-d991ef2/less/less.js" type="text/javascript"></script -->
<script src="../bootstrap/css/bootstrap-responsive.css" type="text/javascript"></script>
<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery.js" type="text/javascript"></script>
<script src="../js/modernizr-1.0.min.js" type="text/javascript"></script>
</head>

<body>
	<h1 class="text-center">{{ greeting }}</h1>
	<h3 class="text-center">{{letter}}</h3>
	<div class="row-fluid">
  	   <div class="span8">
  	   <div class="span4"></div>
	   <div class="row-fluid"></div>
	   <div class="span12"></div>
	</div>
	</div>
<!--This can be rendered from Jinja2; just a series of POSTS-->
	<div class="container-fluid">
	<div class="row-fluid">
	<div class="span2"></div>
	<div class="span10" style="margin-left: 0px">
	   <a href="template2.xml"><video width="320" height="240" controls>
		<source src="movie.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	   </video></a>
	   <a href="template2.xml"><video width="320" height="240" controls>
		<source src="movie.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	   </video></a>
	   <a href="template2.xml"><video width="320" height="240" controls>
		<source src="movie.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	   </video></a>
	   <a href="template2.xml"><video width="320" height="240" controls>
		<source src="movie.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	   </video></a>
	   <a href="template2.xml"><video width="320" height="240" controls>
		<source src="movie.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	   </video></a>
	   <a href="template2.xml"><video width="320" height="240" controls>
		<source src="movie.mp4" type="video/mp4">
		<source src="movie.ogg" type="video/ogg">
		Your browser does not support the video tag.
	   </video></a>
	</div>
	</div>
	<!--div class="span1"></div -->
	</div>
</body>
</html>