<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<link type="text/css" href="static/css/bootstrap.css" rel="stylesheet" media="screen"></link>
    <title>Welcome</title>
</head>
<body>
    <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>
	{% for video in span10 %}
		<a href="{{ video.href }}">{{ item.caption }}</a>
    <h1 class="text-center">{{ greeting }}</h1>
	<h3 class="text-center">{{letter}}</h3>
</body>
</html>